.s_faqs{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: var(--s_faqs-t-columns);
  grid-template-rows: var(--s_faqs-t-rows);
  gap: var(--s_faqs-gap);
}
.faqs_main{
  grid-row: 2/3;
  grid-column: 2/3;
  background: var(--faqs_main-bcg);
  color: var(--faqs_main-color);
  padding: var(--faqs_main-padding);
  overflow-y: var(--faqs_main-overflowY);
  max-height: var(--faqs_main-height);

  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: var(--s_faqs-t-rows); */
}
.faqs_main-h1{
  font-size: var(--faqs_main-h1fs);
  text-align: center;
  margin-bottom: var(--faqs_main-mrgbotom);
}

.faqs_main .details{
  width: 100%;
  padding: var(--faqs_details-padding);
  border-radius: var(--faqs_details-bord-radius);

}
/* Стилизация открытого состояние */
.faqs_main .details[open]{
  width: 100%;
}

.faqs_main summary{
  background: var(--faqs_summary-bcg);
  color: var(--faqs_summary-color);
  padding: var(--faqs_summary-padding);
  border-radius: var(--faqs_summary-bord-radius);
  cursor: pointer;
  
}

.faqs_main .details_in{
  padding: var(--faqs_details_in-padding);
  overflow-x: auto;
  
}

@media (max-width: 1100px){
  .s_faqs{
    grid-template-columns: var(--s_faqs-t-col1100);
  }
}

@media (max-width: 990px){
  .s_faqs{
    grid-template-columns: var(--s_faqs-t-col990);
  }
}

@media (max-width: 660px){
  .s_faqs{
    grid-template-columns: var(--s_faqs-t-col660);
    grid-template-rows: var(--s_faqs-t-row660);

  }
  .faqs_main-h1{
    font-size: var(--faqs_main-h1fs660);
  }
}

@media (max-width: 430px){
  .s_faqs{
    grid-template-columns: var(--s_faqs-t-col430);
    gap: var(--s_faqs-gap430);
  }
  /* .faqs_main-h1{
    font-size: var(--faqs_main-h1fs660);
  } */
}
@media (max-width: 315px){
  .s_faqs{
    grid-template-columns: var(--s_faqs-t-col430);
    gap: var(--s_faqs-gap430);
  }
  .faqs_main-h1{
    font-size: var(--faqs_main-h1fs315);
  }
}
@media (max-width: 275px){
  .faqs_main summary,.faqs_main .details_in{
    font-size: 14px;
  }
}
@media (max-width: 210px){
  .s_faqs{
    grid-template-columns: var(--s_faqs-t-col210);
  }
  .faqs_main{
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
